{% extends "automatedbankteller/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Make a Deposit</h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
                <legend class="border-bottom mb-4">Deposit Amount</legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Deposit</button>
            </div>
        </form>
    </div>
{% endblock content %}