{% extends "automatedbankteller/base.html" %}
{% block content %}
{% load humanize %}
    <h1>My Accounts</h1>
    {% for account in accounts %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">${{ account.account_amount|intcomma }}</h1>
                <p class="lead">Account Type: {{ account.get_account_type_display }}</p>
                <p class="lead">Account Number: ******{{ account.accountID|stringformat:"i"|slice:"6:10" }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}